<nav class="navbar navbar-expand-md navbar-light bg-primary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Local Hops</a>
    </div>
</nav>

<div class="container" id="home-container">
    <h1 class="header">Welcome to Local Hops</h1>
    <p class="greeting">Login or Signup below to create an account and save your favorite Texas breweries</p>
    <button class="btn login-home">Login</button>
    <button class="btn signup-home">Signup</button>
</div>
