 <nav class="navbar navbar-expand-md navbar-light bg-primary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Local Hops</a>
        <div class="nav-collapse">
          <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a> 
          </div>
        </div>
    </div>
    </nav>

<div class="container" id="login-container">
    <form class="form-login">
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="email-input" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="password-input" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
      <p>Or sign up <a href="/signup">here</a></p>
    </form>
</div>