<nav class="navbar navbar-expand-md navbar-light bg-primary sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Local Hops</a>
      <div class="nav-collapse">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a> 
        </div>
      </div>
  </div>
</nav>

  
  

<div class="container" id="signup-container">
  <form class="form-ageVerify">
    <div class="form-group">
      <label>Are you 21 or older?</label><br>
      <input type="radio" id="yes" name="choice" value="yes">
      <label for="yes">Yes</label><br>
      <input type="radio" id="no" name="choice" value="no">
      <label for="no">No</label><br>
    </div>
    <button type="submit" class="btn btn-default">Verify Age</button>
  </form>
  <form class="form-signup hide">
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="name-input" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="email-input" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="password-input" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Sign Up</button>
    <p>Or if you already have an account, you can login <a href="/login">here</a></p>
  </form>
</div>